* {
    max-width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    display: block;
    width: 100%;
    height: auto;
    min-height: 480px;
    margin:  auto;
}
#plate {
    position: relative;
    max-width: 100%;
    width: 480px;
    height: 480px;
    margin: auto;
    background: url(../images/plate.png) 0 0/cover no-repeat;     
}

#hour,#minute {
    position: absolute;
    right: 0;
    bottom: 50%;
    left: 0;
    text-align: center;
}

